.vs 
.vscode 
.idea 
/Debug
/Release
/x64
/x86
/Kringle/Debug
/Kringle/Release
/Kringle/x86
/Kringle/x64
/XmasEngine/Debug
/XmasEngine/Release
/XmasEngine/x86
/XmasEngine/x64
redist
*.exe
!dist-deps/*.exe
*.patch

# Include everything in the dist folder regardless of rules
!dist/*
/bin-int
/bin-obj
/bin

/**/*.sln
/**/*.vcxproj*
/dist
